<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your feedbacks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        video {
            border: 2px solid #333;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        button {
            padding: 10px;
            font-size: 16px;
            margin: 5px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
        }

        button:hover {
            background-color: #45a049;
        }
      /* Additional custom styles for dark mode */
      body {
          background-color: #121212; /* Dark background color */
          color: #ffffff; /* Light text color */
          padding-top: 70px; /* Adjusted to accommodate fixed navbar */
          font-family: 'Google Sans', 'Helvetica Neue', sans-serif; /* Apply font family */
      }
      .navbar {
          background-color: #121212 !important; /* Dark navbar background */
      }
      .navbar-brand, .navbar-nav .nav-link {
          color: #ffffff !important; /* Light text color for navbar items */
      }
      .navbar-nav .nav-link:hover {
          color: #ffffff !important; /* Light text color for navbar items on hover */
      }
      .navbar-nav .nav-item.active .nav-link {
          color: #007bff !important; /* Change color of active navbar item */
      }
      .jumbotron {
          background-color: #121212; /* Dark background for jumbotron */
      }
      .animated-text {
          font-size: 48px;
          font-weight: bold; /* Set font weight to bold */
          background: linear-gradient(to right, #4285f4, #d96570, #9b72cb, #d96570);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 400%;
          animation: flowColors 12s infinite;
      }
      @keyframes flowColors {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 100%;
          }
      }
      /* Additional style for animated border */
      .animated-border {
          border: 1px solid transparent; /* Initial transparent border */
          border-radius: 10px; /* Rounded border */
          padding: 25px; /* Add some padding */
          animation: borderColors 12s infinite; /* Apply animation */
      }
      .animated-border-search {
          border: 1px solid transparent; /* Initial transparent border */
          border-radius: 10px; /* Rounded border */
          animation: borderColors 12s infinite; /* Apply animation */
      }
      @keyframes borderColors {
          0% {
              border-color: #d96570; /* Start color */
          }
          15% {
              border-color: #9b72cb; /* Mid color */
          }
          30% {
              border-color: #d96570; /* Mid color */
          }
          60% {
              border-color: #4285f4; /* End color */
          }
          78% {
              border-color: #d96570; /* Mid color */
          }
          100% {
              border-color: #9b72cb; /* Start color */
          }
      }

      /* Additional style for horizontal blocks */
      .horizontal-blocks {
          display: flex;
          justify-content: space-evenly;
          margin-top: 50px;
      }
      .block {
          width: 200px;
          height: 200px;
          background-color: #1e1f20;
          border-radius: 10px;
          margin-right: 5px;
          padding: 20px;
          box-sizing: border-box;
      }
      .feedback-block {
          width: 45%;
          height: 270px;
          background-color: #222;
          border-radius: 10px;
          margin-top: 10px;
          margin-right: 5px;
          padding: 20px;
          box-sizing: border-box;
      }
      .block:hover {
          transform: scale(1.1); /* Increase size by 10% */
      }
      .block p {
          color: #ffffff;
          text-align: center;
      }
      .block a {
          width: 100%;
          height: 100%;
          text-decoration: none;
          color: inherit;
      }
  </style>
  <script src="/src/feedback.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top animated-border" style="margin-top: 10px">
    <div class="container">
        <a class="navbar-brand" href="#" style="left:auto;">AgeGPT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"> <!-- Changed ml-auto to mr-auto -->
                <li class="nav-item active">
                    <a class="nav-link" href="http://localhost:5001/homePage?id=<%=id%>">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 animated-border-search" type="submit" style="margin-right: 3px;">Search</button>
                <button class="btn btn-outline-light my-2 my-sm-0 animated-border-search" type="submit" style="margin-left: 3px;"><a href="http://localhost:5001/signup">Logout</a></button>
            </form>
        </div>
    </div>
</nav>
<div style="margin-top: 20px;">
    <div style="margin-top: 10px;" id="feedbacks-container">

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function fetch(){
        axios.get(`http://localhost:5001/fetchFeedback?id=<%=id%>`)
        .then(fetchResponse => {
          console.log('Fetched feedback data:', fetchResponse.data);
          let feedbackContainer = document.getElementById("feedbacks-container")
          for (let i = 0; i < fetchResponse.data?.length; i++) {
  const feedback = fetchResponse.data[i];

  // Create a new <div> element for each feedback entry
  let innerChild = document.createElement('div');
  innerChild.classList.add('feedback-block'); // Add a CSS class for styling (optional)
  innerChild.style.marginTop = '20px';
  innerChild.style.color = 'white';
  innerChild.style.fontSize = '30px'
  // Create <p> elements to display each property
  let nameElement = document.createElement('p');
  nameElement.textContent = `${feedback.Fname} ${feedback.Lname} (${feedback.username})`;

  let ratingElement = document.createElement('p');
  ratingElement.textContent = `Overall Rating -> ${feedback.Rating}`;
  innerChild.style.textAlign = 'left';

  // Append the <p> elements to the <div> element
  innerChild.appendChild(nameElement);
  innerChild.appendChild(ratingElement);
  // Append the <div> element to the feedbackContainer
  feedbackContainer.appendChild(innerChild);
}
        })
        .catch(fetchError => {
          console.error('Error fetching feedback data:', fetchError);
        });
    }

    fetch()
</script>
</body>